
.anchor
.DS_Store
target/
**/*.rs.bk
node_modules
.idea
test-ledger/
.keys
.vscode
__pycache__
.pkg
.turbo
.turbocache
.anchorcache
**/.coderrect
.val/**
validator-snapshots
.vscode/
yarn-error.log
temp.txt
.fleek.json